In [ ]:
eeersfdf

In [ ]:
gddd

In [ ]:
SELECT 
    s.total_sets/y.total_years AS avg_sets_per_year,
    s.total_sets,
    y.total_years
FROM
    -- calculate total sets
    (SELECT COUNT(set_num) AS total_sets
     FROM sets) AS s, 
    -- calculate total years
    (SELECT COUNT(DISTINCT year) AS total_years
     FROM sets) AS y